# 🐍 Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyo
*.pyd
*.log

# 📦 Virtual envs
.venv/
env/
ENV/
venv/

# 📦 Poetry & UV
poetry.lock
poetry.toml
uv.lock
uv.toml

# 🔐 Arquivos sensíveis
.env
.env.*
!.env.example  # deixa um exemplo de modelo para devs

# 🐳 Docker
docker-compose.override.yml
.docker/
.dockerignore

# 🧪 Testes
.coverage
.cache/
htmlcov/
pytest_cache/

# 📝 Editor/IDE
.vscode/
.idea/
*.swp

# 💾 Banco de dados local
*.sqlite3
db.sqlite3

# 📂 Build
dist/
build/
*.egg
